@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700italic);

/* based on 1440px screen, font-size base 16px = 1.11vw */

/* vw converted from px, vw = em, http://www.w3schools.com/tags/ref_pxtoemconversion.asp */

html {
  font-weight: 300;
  font-family: 'Josefin Sans','Open Sans', sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0;
  width: 100%;
}    
    @media only screen and (max-width : 480px) {
      html, body,input,textarea {
         font-size: 24px !important;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      html, body,input,textarea {
         font-size: 14px !important;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      html, body,input,textarea {
         font-size: 1.0rem !important;
      }
    }

body {
  background-color: #fff;
  opacity: 1;
}

@media(max-width: 600px){
    body,input,textarea{
         font-size:1.0vw !important;
    }
}

@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #top, #bottom, #left, #right { display: none; }
}
/*----*/
#top, #bottom, #right {
  background: #ffffff;
  position: fixed;
  z-index:9999
}
#right {
  top: 0; bottom: 0;
  width: 4vw;
}
#right { right: 0; }
    
#top{
  left: 0; right: 0;
  height: 5vw;
}
#bottom {
  left: 0; right: 0;
  height: 0.9375vw;
}
#top { top: 0; }
#bottom { bottom: 0; }
}
/*----*/


/*------NAV-------*/
nav {
  z-index: 9999;
  position: fixed;
}
a {
    text-decoration:none;
}
a:hover {
  color: #9fe;
}
a:link, a:visited, a:hover, a:active {
  text-decoration:none;
}
li {
    list-style:none
}
ul {    
    margin:0
}
.main-nav {
    width: 100%;    
    /*height: 2vw;*/
    padding: 1vw;
    position: fixed;
    /*background: #fff;*/
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
}
ul.nav {    
    height: 100%;
    width: 100%;  
}

ul.nav li {    
    margin-right: 3vw;
    margin-top: 0vw;
    float: right;
    height: 100%;
    line-height: 2.8125vw;
}
ul.nav li a {           
    color: #000;    
}
.fix-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  margin-top:5%;
}
.fix-nav-a {
  max-width: 100%;
}
.fix-start {
  align-self: flex-start;
}
.fix-end {
  align-self: flex-end;
}

/*---------- LOGO ----------------*/
.logo {
  float:left;
  position:left;
  font-family: 'Josefin Sans','Work Sans', 'balto-black', sans-serif;
  font-weight: 900, light;
  font-size: 2vw;/* 2.5093750250939997vw;*/ 
  margin-left: 1.75vw;
  margin-top: 1.45vw;
  background: #000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, black -15%, white 80%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black -15%, white 80%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, black -15%, white 80%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black -15%, white 80%); /* Standard syntax */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    
}

/*--------- TOGGLE ---------------*/

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     width: 3vw;
     height: 1.65vw;
     position: relative;}
 input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
     display: block;
     position: relative;
     width: 1.5vw;
     height: 1.65vw;}
 input[type="checkbox"]:before {
     content: '';
     transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;}
 input[type="checkbox"]:checked:before {
     content: '';
     left: 1.4vw;
     transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;}
 #box .detail {
     -moz-border-radius: .1875vw;
     border-radius: .1875vw;
     -moz-box-shadow: inset 0 0 .625vw .3125vw rgba(0, 0, 0, 0.5);
     box-shadow: inset 0 0 .625vw .3125vw rgba(0, 0, 0, 0.4);
     background:#9;
     position:fixed;
     top: 1.5vw;
     right: 1.75vw;
     z-index:9999;}
 #box .detail:before,#box .detail:checked:before {
     -moz-border-radius: .1875vw;
     border-radius: .1875vw;
     -moz-box-shadow: inset 0 0 .4375vw .125vw rgba(0, 0, 0, .3);
     box-shadow: inset 0 0 .4375vw .125vw rgba(0, 0, 0, 0.3);}
 #box .detail:before {background:#9bc5c3;}
 #box .detail:checked:before {background:#9fe;}

/*.toggle-button { 
    background-color: white; margin: 5px 0; 
    border-radius: 20px; 
    border: 2px solid #D0D0D0; 
    height: 24px; cursor: 
    pointer; width: 50px; 
    position: relative; 
    display: inline-block; user-select: 
    none; -webkit-user-select: 
    none; -ms-user-select: 
    none; -moz-user-select: 
    none; }
.toggle-button button { 
    cursor: pointer; 
    outline: 0; 
    display:block; 
    position: 
    absolute; 
    left: 0; 
    top: 0; border-radius: 100%; width: 30px; height: 30px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s; }
.toggle-button-selected { 
  background-color: #83B152; 
  border: 2px solid #7DA652; }
.toggle-button-selected button { 
  left: 26px; 
  top: 0; 
  margin: 0; 
  border: none; 
  width: 24px; 
  height: 24px; 
  box-shadow: 0 0 4px rgba(0,0,0,0.1); }

.center { text-align:center; }*/

 /*------ COVERS -------*/
 
    .wrap {
      overflow: hidden;
      margin: 5vw auto;
      max-width: 90%;
      width:90%;
      text-align: center;
      float: center;
      position: center;
      z-index: 2;
      text-align: center;
    }
    .wrap2 {
      overflow: hidden;
      margin: 5vw auto 1vw auto;
      max-width: 90%;
      width: 90%;
      text-align: center;
      float: center;
      position: center;
      z-index: 2;
      text-align:center;
    }
    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
      z-index: 3;
      color: #000;
    }
    .boxInner {
      position: absolute;
      left: 1vw;
      right: 1vw;
      top: 1vw;
      bottom: 1vw;
      overflow: hidden;
      display: inline-block;
      z-index: 4;
    }
      .boxInner img {
      width: inherit;
      height:100%;
      color: #fff;
      z-index: 4;
    }
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
      .logo {
         font-size: 18px !important;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
      .logo {
         font-size: 18px !important;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
      .logo {
         font-size: 1.4rem !important;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }

 /*------ CONTACT -------*/
.js-shadow {
  color: #000;
  text-align: center;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}



/*------ GRID 2 -------*/

div.a {
width: 15vw;
height: 15vw;
background-color:red;
position:fixed;   
}
div.b {
width: 15vw;
height: 15vw;
background-color:blue;
position:fixed;   
}
div.c {
width: 15vw;
height: 15vw;
background-color:green;
position:fixed;     
}
div.d {
width: 15vw;
height: 15vw;
background-color:yellow;
position:fixed;   
}
