div {
	background-image: url("TMYK.gif");
	background-repeat: repeat;
}

div.a {
width: 150px;
height:150px;
 background-image:url("TMYK.gif");
position:fixed;
    
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}